spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/weibo
    username: dev
    password: 123456
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  jackson:
    serialization:
      fail-on-empty-beans: false

server:
  port: 8080
