spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/weibo
    username: dev
    password: 123456
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  jackson:
    serialization:
      fail-on-empty-beans: false
  data:
    redis:
      host: localhost
      port: 6379
      timeout: 3000
      lettuce:
        pool:
          max-active: 8
          max-idle: 8
          min-idle: 0

server:
  port: 8080

jwt:
  secret: BRAYTON_LITE_WEIBO_SECRET_KEY
